body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: --9px;
    width: 2525px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Scratch_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:167px;
    height:171px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:167px;
    height:171px;
}

.u1 {
    position:absolute;
    left:2px;
    top:78px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Scratch_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:179px;
    width:167px;
    height:171px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:167px;
    height:171px;
}

.u3 {
    position:absolute;
    left:2px;
    top:78px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Scratch_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:173px;
    top:0px;
    width:166px;
    height:171px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:166px;
    height:171px;
}

.u5 {
    position:absolute;
    left:2px;
    top:78px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Scratch_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:345px;
    top:0px;
    width:167px;
    height:171px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:167px;
    height:171px;
}

.u7 {
    position:absolute;
    left:2px;
    top:78px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Scratch_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:173px;
    top:179px;
    width:166px;
    height:171px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:166px;
    height:171px;
}

.u9 {
    position:absolute;
    left:2px;
    top:78px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Scratch_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:345px;
    top:179px;
    width:167px;
    height:171px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:167px;
    height:171px;
}

.u11 {
    position:absolute;
    left:2px;
    top:78px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Scratch_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:403px;
    width:952px;
    height:350px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:952px;
    height:350px;
}

.u13 {
    position:absolute;
    left:2px;
    top:167px;
    width:948px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Scratch_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:522px;
    top:0px;
    width:431px;
    height:350px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:431px;
    height:350px;
}

.u15 {
    position:absolute;
    left:2px;
    top:167px;
    width:427px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Scratch_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:-9px;
    top:825px;
    width:16px;
    height:64px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:64px;
}

.u17 {
    position:absolute;
    left:2px;
    top:24px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Scratch_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:-9px;
    top:889px;
    width:16px;
    height:278px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:278px;
}

.u19 {
    position:absolute;
    left:2px;
    top:131px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Scratch_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:7px;
    top:825px;
    width:967px;
    height:64px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:967px;
    height:64px;
}

.u21 {
    position:absolute;
    left:2px;
    top:24px;
    width:963px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Scratch_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:7px;
    top:889px;
    width:967px;
    height:278px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:967px;
    height:278px;
}

.u23 {
    position:absolute;
    left:2px;
    top:131px;
    width:963px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Scratch_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:1216px;
    top:0px;
    width:1300px;
    height:186px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:186px;
}

.u25 {
    position:absolute;
    left:2px;
    top:85px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Scratch_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:1216px;
    top:186px;
    width:1300px;
    height:904px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:904px;
}

.u27 {
    position:absolute;
    left:2px;
    top:444px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

