* html .u1_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u1_normal.png");
}

* html .u3_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u3_normal.png");
}

* html .u5_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header_files/u5_normal.png");
}

* html .u8_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Repair_files/u8_normal.png");
}

* html .u10_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="footer_files/u10_normal.png");
}

* html .u12_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="footer_files/u12_normal.png");
}

* html .u19_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Repair_Category_Carousel_files/u19_normal.png");
}

* html .u21_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Repair_Category_Carousel_files/u21_mouseOver.png");
}

* html .u21_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Repair_Category_Carousel_files/u21_normal.png");
}

* html .u23_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Repair_Category_Carousel_files/u23_mouseOver.png");
}

* html .u23_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Repair_Category_Carousel_files/u23_normal.png");
}

* html .u25_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Repair_Category_Carousel_files/u25_mouseOver.png");
}

* html .u25_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Repair_Category_Carousel_files/u25_normal.png");
}

* html .u27_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Repair_Category_Carousel_files/u19_normal.png");
}

* html .u27_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Repair_Category_Carousel_files/u27_normal.png");
}

* html .u29_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Repair_Category_Carousel_files/u29_mouseOver.png");
}

* html .u29_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Repair_Category_Carousel_files/u29_normal.png");
}

* html .u36_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="RCC_Buttons_files/u36_normal.png");
}

* html .u38_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="RCC_Buttons_files/u38_normal.png");
}

* html .u41_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="RCC_Buttons_files/u41_normal.png");
}

* html .u43_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="RCC_Buttons_files/u43_normal.png");
}

* html .u46_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Repair_Offers_files/u46_normal.png");
}

