body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:614px;
    top:540px;
    width:235px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_normal {
    background-image: url('../Appliance_Repair_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:179px;
    top:257px;
    width:953px;
    height:329px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:959px;
    height:335px;
}

.u2 {
    position:absolute;
    left:2px;
    top:156px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../header_files/u1_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:146px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:146px;
}

.u4 {
    position:absolute;
    left:2px;
    top:65px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../header_files/u3_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:146px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:146px;
}

.u6 {
    position:absolute;
    left:2px;
    top:65px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../header_files/u5_normal.png');
}

.u7_container {
    position:absolute;
    left:139px;
    top:0px;
    width:1026px;
    height:146px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1026px;
    height:146px;
}

.u8 {
    position:absolute;
    left:2px;
    top:65px;
    width:1022px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../footer_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:1084px;
    width:1300px;
    height:431px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:431px;
}

.u11 {
    position:absolute;
    left:2px;
    top:208px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../footer_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:156px;
    top:1084px;
    width:980px;
    height:431px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:980px;
    height:431px;
}

.u13 {
    position:absolute;
    left:2px;
    top:208px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:175px;
    top:1098px;
    width:280px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Appliance_Repair_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:177px;
    top:148px;
    width:994px;
    height:108px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:994px;
    height:108px;
}

.u18 {
    position:absolute;
    left:2px;
    top:46px;
    width:990px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:208px;
    top:481px;
    width:121px;
    height:22px;
    ;
    ;
    ;
    font-family:'Open Sans';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:209px;
    top:389px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:'Open Sans';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21_normal {
    background-image: url('../Appliance_Repair_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:1000px;
    top:522px;
    width:70px;
    height:35px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:41px;
}

.u22 {
    position:absolute;
    left:2px;
    top:8px;
    width:66px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:209px;
    top:435px;
    width:170px;
    height:22px;
    ;
    ;
    ;
    font-family:'Open Sans';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:209px;
    top:343px;
    width:236px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:209px;
    top:283px;
    width:249px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:205px;
    top:537px;
    width:274px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:479px;
    top:543px;
    width:71px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Repair_Offers_files/u46_normal.png');
}

.u28_container {
    position:absolute;
    left:178px;
    top:646px;
    width:952px;
    height:392px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:952px;
    height:392px;
}

.u29 {
    position:absolute;
    left:2px;
    top:188px;
    width:948px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u30 {
    position:absolute;
    left:673px;
    top:983px;
    width:109px;
    height:34px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u31 {
    position:absolute;
    left:493px;
    top:1000px;
    width:154px;
    height:34px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u33 {
    position:absolute;
    left:499px;
    top:295px;
    width:593px;
    height:199px;
    overflow:hidden;
}

#pd0u33 {
    position:absolute;
    left:0px;
    top:0px;
    width:593px;
    height:199px;
    
}

#u34 {
    position:absolute;
    left:0px;
    top:0px;
    width:957px;
    height:198px;
    overflow:hidden;
}

#pd0u34 {
    position:absolute;
    left:0px;
    top:0px;
    width:957px;
    height:198px;
    
}

.u35_mouseOver {
    background-image: url('../Appliance_Repair_files/dryer_button_u35_mouseOver.png');
}

.u35_normal {
    background-image: url('../Appliance_Repair_files/dryer_button_u35_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:0px;
    width:159px;
    height:195px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:159px;
    height:195px;
}

.u36 {
    position:absolute;
    left:2px;
    top:167px;
    width:155px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_mouseOver {
    background-image: url('../Appliance_Repair_files/fridge_button_u37_mouseOver.png');
}

.u37_normal {
    background-image: url('../Appliance_Repair_files/fridge_button_u37_normal.png');
}

.u37_container {
    position:absolute;
    left:159px;
    top:2px;
    width:159px;
    height:195px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:159px;
    height:195px;
}

.u38 {
    position:absolute;
    left:2px;
    top:167px;
    width:155px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_mouseOver {
    background-image: url('../Appliance_Repair_files/washer_button_u39_mouseOver.png');
}

.u39_normal {
    background-image: url('../Appliance_Repair_files/washer_button_u39_normal.png');
}

.u39_container {
    position:absolute;
    left:319px;
    top:0px;
    width:160px;
    height:195px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:195px;
}

.u40 {
    position:absolute;
    left:2px;
    top:167px;
    width:156px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_mouseOver {
    background-image: url('../Appliance_Repair_files/dishwasher_button_u41_mouseOver.png');
}

.u41_normal {
    background-image: url('../Appliance_Repair_files/dishwasher_button_u41_normal.png');
}

.u41_container {
    position:absolute;
    left:479px;
    top:0px;
    width:157px;
    height:195px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:157px;
    height:195px;
}

.u42 {
    position:absolute;
    left:2px;
    top:167px;
    width:153px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_mouseOver {
    background-image: url('../Appliance_Repair_files/range_button_u43_mouseOver.png');
}

.u43_normal {
    background-image: url('../Appliance_Repair_files/range_button_u43_normal.png');
}

.u43_container {
    position:absolute;
    left:636px;
    top:0px;
    width:160px;
    height:195px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:195px;
}

.u44 {
    position:absolute;
    left:2px;
    top:167px;
    width:156px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_mouseOver {
    background-image: url('../Appliance_Repair_files/freezer_button_u45_mouseOver.png');
}

.u45_normal {
    background-image: url('../Appliance_Repair_files/freezer_button_u45_normal.png');
}

.u45_container {
    position:absolute;
    left:796px;
    top:0px;
    width:160px;
    height:195px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:195px;
}

.u46 {
    position:absolute;
    left:2px;
    top:167px;
    width:156px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../Appliance_Repair_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:580px;
    top:0px;
    width:12px;
    height:197px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:203px;
}

.u48 {
    position:absolute;
    left:2px;
    top:90px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../Appliance_Repair_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:197px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:203px;
}

.u50 {
    position:absolute;
    left:2px;
    top:90px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u51 {
    position:absolute;
    left:462px;
    top:364px;
    width:32px;
    height:66px;
    overflow:hidden;
}

#pd1u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:66px;
    
}

.u52_normal {
    background-image: url('../ARC_Buttons_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:-19px;
    top:-1px;
    width:160px;
    height:146px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:146px;
}

.u53 {
    position:absolute;
    left:2px;
    top:65px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:66px;
    
}

.u54_normal {
    background-image: url('../ARC_Buttons_files/u52_normal.png');
}

.u54_container {
    position:absolute;
    left:-19px;
    top:-72px;
    width:160px;
    height:146px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:146px;
}

.u55 {
    position:absolute;
    left:2px;
    top:65px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u56 {
    position:absolute;
    left:1100px;
    top:364px;
    width:32px;
    height:66px;
    overflow:hidden;
}

#pd1u56 {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:66px;
    
}

.u57_normal {
    background-image: url('../ARC_Buttons_files/u52_normal.png');
}

.u57_container {
    position:absolute;
    left:-119px;
    top:-1px;
    width:160px;
    height:146px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:146px;
}

.u58 {
    position:absolute;
    left:2px;
    top:65px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u56 {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:66px;
    
}

.u59_normal {
    background-image: url('../ARC_Buttons_files/u52_normal.png');
}

.u59_container {
    position:absolute;
    left:-119px;
    top:-72px;
    width:160px;
    height:146px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:146px;
}

.u60 {
    position:absolute;
    left:2px;
    top:65px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

